<div class="header">
  <div class="upper-header">
            <span>
                <a href="/"><img src="/assets/logo.png" [height]="250" [width]="550" alt="Логотип"/></a>
            </span>
    <span class="info">
                        ул.Пушкина, д.133, Минск<br/>
                        с 10:00 до 18:00 без выходных<br/>
                        <img src="/assets/phone.png" [height]="38" [width]="38" alt="Телефон"/>
                        (029) 378 25 38<br/>
                        <img src="/assets/map.jpg" [height]="45" [width]="30" alt="Карта"/>
                        <a class="map_link" href="/map">Мы на карте</a>
            </span>
    <div *ngIf="user && !user.isAuthenticated" class="unauthorized">
      <span class="authorization">
        <ul>
          <li (click)="redirect('signUp')">Регистрация</li>
        </ul>
      </span>
      <span class="authorization">
        <ul>
          <li (click)="openSignInDialog()">Авторизация</li>
        </ul>
      </span>
    </div>

    <div *ngIf="user && user.isAuthenticated" class="authorized">
      <div *ngIf="user.role === 'USER'" class="authorization">
        <button class="logout" (click)="redirect('office/' + user.owner.id)">Личный кабинет</button>
      </div>
      <div class="authorization">
        <button class="logout" (click)="logout()">Выйти</button>
      </div>
    </div>

  </div>
  <div class="bottom-header">
    <div class="nav_hor">
      <ul>
        <li><a href="/services">Услуги и цены</a></li>
        <li><a href="/reviews">Отзывы</a></li>
        <li><a href="/doctors">Записаться на приём</a></li>
        <li *ngIf="user && user.isAuthenticated && user.role === 'USER'"><a href="/appointments">Мои записи</a></li>
      </ul>
    </div>
  </div>
</div>
