<div class="advantages">
  <h2 class="title">Наши преимущества</h2>
  <ul>
    <li>
      <strong>Без очередей и ожиданий.</strong>
      Наш ветеринарный центр поможет избежать длительных ожиданий:
      регистрация обращений производится как по предварительной записи, так и в порядке очереди.
    </li>
    <li>
      <strong>Прием экстренных пациентов</strong> - без очереди.
      Для нас спасение жизни питомца стоит на первом месте.
    </li>
    <li>
      Собсвенная <strong>лаборатория и кабинет УЗИ</strong>. Экспресс-анализы крови или мочи.
    </li>
    <li>
      <strong>Учет истории обращения</strong>.
      Ветенираные доктора ведут учет всех записей обращений и все данные о визитах
      в нашу ветеринарную лечебницу. В любой момент, Вы сможете запросить данные из клиники.
    </li>
  </ul>
</div>
