.container {
  display: flex;
  padding-right: 3%;
  padding-left: 3%;
  background: white;
  padding-bottom: 3%;
}

app-left-bar {
  /*flex-basis: 23%;*/
  min-width: 15%;
}

router-outlet {
  flex-basis: 10%;
}
