.specializationInfo > mat-form-field {
  width: 650px;
}

.medicalServiceEntity {
  display: flex;
  width: 650px;
  justify-content: space-between;
}

.specialization-medicalServiceName {
  width: 420px;
}

.specialization-medicalServicePrice {
  width: 100px;
}

.deleteMedicalServiceButton {
  height: 50%;
  transition: all 0.3s ease 0s;
}

.deleteMedicalServiceButton:hover {
  background: #b30000;
  transition: all 0.3s ease 0s;
  height: 50%;
}

