.specializationInfo > mat-form-field {
  width: 650px;
}

.medicalServiceEntity {
  display: flex;
  width: 650px;
  justify-content: space-between;
}

.specialization-medicalServiceName {
  width: 420px;
}

.specialization-medicalServicePrice {
  width: 100px;
}

.delete-button {
  height: 50%;
}

.delete-button:hover {
  height: 50%;
}

