.reviews {
  width: 650px;
}

.review {
  margin-bottom: 20px;
}

.review-owner {
  margin-bottom: 0;
}

.reviewInfo {
  border-style: ridge;
  border-color: #1e696f;
  padding: 15px;
  margin-bottom: 10px;
}

#newDescription {
  height: 100px;
  width: 650px;
}

/*.form-floating {*/
/*  margin-bottom: 10px;*/
/*}*/

.newReview button {
  margin-top: 5px;
}

.no-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
}
