.container {
  width: 650px;
}

.appointment {
  border-style: ridge;
  border-color: #1e696f;
  padding: 15px;
  width: 80%;
  margin-bottom: 20px;
}

.info_title {
  font-size: 16px;
  font-weight: bold;
}

.field {
  margin-bottom: 5px;
}

.noAppointments {
  display: flex;
  justify-content: center;
  align-items: center;
}
