<div class="left-bar">
  <ul>
    <li *ngFor="let specialization of specializations">{{specialization.name}}</li>
  </ul>
<!--  <form name="left_bar_specialization" class="left-bar"-->
<!--        th:object="${specializations}" th:each="specialization, iterStat: ${specializations}" th:action="@{/specialization}" th:method="get">-->
<!--    <input type="hidden" name="specializationId" th:value="${specialization.id}">-->
<!--    <button class="submitButton" type="submit" th:text="${specialization.name}"></button>-->
<!--  </form>-->
</div>
